/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/04/2024, 12:15:22 PM
    Author     : kingu
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header img {
    max-width: 100px;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header ul li {
    display: inline;
    margin-left: 10px;
}

#welcome-message {
    padding: 20px;
    text-align: center;
}

#features {
    padding: 20px;
}

#features h2 {
    color: #3498db;
}

#features ul {
    list-style-type: decimal;
    margin-left: 20px;
    padding: 0;
}

/* Estilos para el modal */
.modal {
    display: none; /* Por defecto, ocultamos el modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semitransparente */
}

.modal-content {
    background-color: #fefefe; /* Fondo blanco para el contenido */
    margin: 10% auto; /* Centramos el modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
